h1 {
  color: #fcfcfc;
  font-size: 70px;
  text-align: center;
  text-shadow: -.5px -.5px #757575, .5px -.5px #757575, -.5px .5px #757575, .5px .5px #757575; 
}
a {
  font-size: 23px;
}
/* 
#pushpanel {
  margin-top:  0px;
} */
/* 
#msgtxt {
  background-color: #FCFCFC;
  color: #1c1c1c;
} */

/* slogo */
img {
  width: 600px;
  height: auto;
  /* background-color: rgba(255, 255, 255, .2) */
}
.gradient {
	background-image:
    	radial-gradient(
      	rgba(117, 117, 117, .9),
      	rgba(252,252,252, .2),
      	transparent
    );
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	display: block;
}

/* button to make stuff */
p{
  text-align: center;
}
#msgttl {
  background-color: #811025;
  color: #FCFCFC;
  border: 1px solid #757575;
  border-radius: 8px;
}
#msgttl:hover {
  background-color: #630007;
  color: #FCFCFC;
}
#msgttl:active {
  background-color: #b00505;
  color: #FCFCFC;
}
.panel{
  border: 1px solid #757575;
  border-radius: 8px;
}
.panel-heading{
  border-radius: 8px;
}