    <div class="col-md-3 col-md-offset-0">
      <div class="panel panel-default">

        <div class="panel-heading">Welcome Back!</div>
        <div class="panel-body">
          \user.name\
        </div>
      </div>
      <p><a class="btn btn-primary btn-lg" href="create" role="button">Write A Message For That Special Someone</a></p>
    </div>
<!-- This is the homepage -->
<!-- <div class="container">
<div class="row" width="100px" height="100px" background-color="red" >Text goes here</div>
<button type="button" class="btn btn-primary">Text in here</button>


<p>
  homepage works!
</p>-->

<div class="container">

  <ul>

<!--This creates the containers for the for-loop to populate  -->
        <li *ngFor="let message of filterMessages();let i=index" style="display: inline;">
      <div class="panel panel-default col-md-4 col-md-offset-1">
          <!-- <div class="col-lg-3 col-md-4 col-xs-6 thumb"> -->
            <a class="panel-heading" href= {{message.url}}>{{message.title}}</a>
            <div class="panel-body">{{message.text}}</div>
          <!-- </div> -->
        </div>
      </li>

  </ul>
</div>
