<!-- This is the homepage -->
<!-- <div class="container">
<div class="row" width="100px" height="100px" background-color="red" >Text goes here</div>
<button type="button" class="btn btn-primary">Text in here</button>


<p>
  homepage works!
</p>-->

<div class= "container" style="display: inline">

    <div class="row" >
      <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-default">

          <div class="panel-heading" >Welcome Back!</div>
          <div class="panel-body">
            \user.name\
          </div>
        </div>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Write A Message For That Special Someone</a></p>
      </div>
    <div class="list-group col-md-5 col-md-offset-1" >

<li *ngFor="let message of messages;let i=index" style="display: inline;">      //<---added let i=index
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
       <a class=""
          [routerLink]="['/create/:comment', {comment:i} ]">      //<-----changed this line
           <img  [src]=message.url>
        </a>
    </div>

</li>





      <a href="#" class="list-group-item list-group-item-danger">Breaking Up Is Easy To Do</a>
      <a href="#" class="list-group-item list-group-item-action">\saved.title\</a>
      <a href="#" class="list-group-item list-group-item-action">\saved.title\</a>
      <a href="#" class="list-group-item list-group-item-action">\saved.title\</a>
      <a href="#" class="list-group-item list-group-item-action">\saved.title\</a>
    </div>
    </div>






</div>
