<div id="fb-root"></div>

<br><br>
<div><h1><strong>DUMPD</strong></h1></div>
<div class='container'>
	<div class="form">
		<div *ngIf="signup;else login">
			<ul class="tab-group">
				<li class="tab active"><a>Sign Up</a></li>
				<li class="tab" (click)="swap()"><a>Log In</a></li>
			</ul>
			<div id="signup">   
				<h1>Sign Up</h1>
					<div class="top-row">
						
					</div>
					<div class="field-wrap">
						<input placeholder="Email Address" id="login" type="email"required autocomplete="off" [(ngModel)]="model.newEmail"/>
					</div>
					<div class="field-wrap">
						<input id="password" placeholder="Set A Password" type="password"required autocomplete="off" [(ngModel)]="model.newPass"/>

					</div>
					<button type="submit" (click)="create()" class="button button-block">Get Started</button>
			</div>
		
		</div>

		<ng-template #login>
			<ul class="tab-group">
				<li class="tab" (click)="swap()"><a>Sign Up</a></li>
				<li class="tab active"><a>Log In</a></li>
			</ul>
			<div id="login">   
				<h1>Welcome Back!</h1>
					<div class="field-wrap">
			
						<input type="email"required placeholder="email" autocomplete="off" [(ngModel)]="model.email" />
					</div>
					<div class="field-wrap">
						<input placeholder="password" type="password"required autocomplete="off" [(ngModel)]="model.pass" />
					</div>
					<p class="forgot"><a href="#">Forgot Password?</a></p>
					<button class="button button-block" (click)="logIn()">Log In</button>
			</div>
		</ng-template>
	</div> 
</div>