/* *, *:before, *:after {
  box-sizing: border-box;
} */

img{
  width: 625px;
  height: auto;
}
@media screen and (max-device-width: 480px) {
	img {
		width: 100%;
    height: auto;
	}
}
.gradient {
	background-image:
    	radial-gradient(
      	rgba(117, 117, 117, .9),
      	rgba(252,252,252, .1),
      	transparent
    );
	width: 100%;
	height: auto;

}

/* html {
  overflow-y: scroll;
} */

/* body {
  background: red;
  font-family: 'Titillium Web', sans-serif;
} */

a {
  text-decoration: none;
  color: #f5f5f5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: pink;
}

@media all and (max-width:480px) {
  .container {
    margin: -70px 0 0 0;
  }
}
.form {
  background: rgba(28, 28, 28, .3);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 40px;
  box-shadow: 0 4px 10px 4px rgba(255, 255, 255, .6);
}
@media all and (max-width:480px) {
  .form {
    padding: 35px
  }
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba( 232, 232, 232, .25);
  color: white;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 8px;
}
.tab-group li a:hover {
  background-color: #630007;
  color: #f5f5f5;
}
.tab-group .active a {
  background-color: #811025;
  color: #f5f5f5;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #f5f5f5;
  font-weight: 300;
  margin: 0 0 40px;
}

/* label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 1);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: pink;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
} */

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid rgba(245, 245, 245, .8);
  color: rgba(245, 245, 245,1);
  border-radius: 8px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input::placeholder{
  color: rgba(245, 245, 245,.7);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1c1c1c;
  color: white;
  background-color: rgba( 99, 0, 7, .4);
}

/* textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
} */

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  /* border-radius: 8px; */
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #811025;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover {
  background: #630007;
}
.button:focus {
  background: #b00505;
}

.button-block {
  display: block;
  width: 100%;
}

/* .forgot {
  margin-top: -20px;
  text-align: right;
} */


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
