.navbar {
  background-color: rgba(176, 5, 5, .55);
  box-shadow: 0 4px 20px 4px rgba(232, 232, 232, .6);
  border-radius: 8px;
}
a {
  font-size: 20px;
  margin-top: 5px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: #fcfcfc;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover{
  color: #FCFCFC;
  text-shadow: -.5px -.5px #757575, .5px -.5px #757575, -.5px .5px #757575, .5px .5px #757575;
  background-color: #811025;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #FCFCFC;
  text-shadow: -.5px -.5px #757575, .5px -.5px #757575, -.5px .5px #757575, .5px .5px #757575;
  background-color: rgba(176, 5, 5, 1);
}

.logo {
  width: 160px;
  vertical-align: middle;
  margin-top: 3px;
  height: 55px;
}

/* HAMBURGER menu */
.navbar-inverse .navbar-toggle {
  background-color: #b00505;
  border: 2px solid #1c1c1c;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #811025;
}
.navbar-inverse .navbar-toggle:active {
  background-color: #630007;
}
