/* .navbar { */
  /* background-color: rgba(176, 5, 5, .55); */
  /* background-color: #e8e8e8;
  box-shadow: 0 4px 20px 4px rgba(232, 232, 232, .6); */
  /* border-radius: 8px; */
  /* background: transparent;
}
a {
  font-size: 20px;
  margin-top: 5px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: #fcfcfc;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover{
  color: #FCFCFC;
  text-shadow: -.5px -.5px #757575, .5px -.5px #757575, -.5px .5px #757575, .5px .5px #757575;
  background-color: #811025;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #FCFCFC;
  text-shadow: -.5px -.5px #757575, .5px -.5px #757575, -.5px .5px #757575, .5px .5px #757575;
  background-color: rgba(176, 5, 5, 1);
} */

.logo {
  width: 160px;
  vertical-align: middle;
  margin-top: 3px;
  height: 55px;
}

/* HAMBURGER menu */
.navbar-inverse .navbar-toggle {
  background-color: #b00505;
  border: 2px solid #1c1c1c;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #811025;
}
.navbar-inverse .navbar-toggle:active {
  background-color: #630007;
}
/* 
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 9999;
    right:0px;
    height:50px;
    margin-bottom:0px;
  margin-top: 20px;
} */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}