.navbar {
  background-color: rgba(176, 5, 5, .6);
  box-shadow: 0 4px 20px 4px rgba(232, 232, 232, .6);
}
.navbar-header a{
  font-size: 25px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: #FCFCFC;
}
.navbar-inverse:hover .navbar-brand:hover, .navbar-inverse:hover .navbar-nav>li>a:hover{
  color: #FCFCFC;
  text-shadow: -1px -1px #757575, 1px -1px #757575, -1px 1px #757575, 1px 1px #757575; 
  background-color: #BA0005;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color: #FCFCFC;
  text-shadow: -1px -1px #757575, 1px -1px #757575, -1px 1px #757575, 1px 1px #757575; 
  background-color: #BA0005;
}

/* HAMBURGER menu */
button {
  background-color: orange;
}
