h1{
	text-align: center;
	color: #b00505;
	font-size: 33px;
}
input {
	margin: auto;
	float: none;
	display:inline-block;
	width: 420px;
	padding: 4px;
	font-size: 16px;
}

.panel-default{
	border: 2px solid #1c1c1c;
}
.panel-default>.panel-heading{
	background-color: #FCFCFC;
}
.panel-default>.panel-body{
	background-color: #e8e8e8;
}

button.btn.btn-primary{
	vertical-align: middle;
}
/* button.btn.btn-primary:active{
    background-color: green !important;
} */
/* .btn.btn-primary.btn-lg{
	width: 2000px;
} */
input[type=radio], input[type=checkbox] {
	display:none;
	overflow-y: auto;
}
input[type=radio] + label, input[type=checkbox] + label {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	border-radius: 15px;
  	box-shadow: 0 9px #999;
	/* text-shadow: 0 1px 1px rgba(255,255,255,0.75); */
	vertical-align: middle;
	cursor: pointer;
	background-color: white;
	/* background-image: -moz-linear-gradient(top,#eeeeee,#757575);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#757575));
	background-image: -webkit-linear-gradient(top,#eeeeee,#757575);
	background-image: -o-linear-gradient(top,#eeeeee,#757575);
	background-image: linear-gradient(to bottom,#eeeeee,#757575); */
	background-repeat: repeat-x;
	/* border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3; */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	/* -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05); */
	overflow-y: auto;
}
input[type=radio] + label:hover, input[type=checkbox] + label:hover{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:blue;
	overflow-y: auto;
}
input[type=radio]:checked + label, input[type=checkbox]:checked + label{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:green;
	overflow-y: auto;
}