 <div class="col-md-3" style="background-color: blue; height: 100%;">
    <h1 style="color: violet;" class="intro">Introduction</h1>
    <a>
</div>
<div class="col-md-3" style="background-color: white; height: 100%;">
    <h1 style="color: violet;" class="mid">Main Message</h1>
</div>
<div class="col-md-3" style="background-color: blue; height: 100%;">
    <h1 style="color: violet;" class="end">Goodbye</h1>
</div>

<div class="row">
    <div class="col-md-12" style="background-color: #F52887; height: 100%;">
        <h3 style="color: violet;" class="mess">Message</h3>
    </div>
</div> 