<div class='container'>
    <div class="row"> 
        <!-- rows do same line and coumns do different lines -->
        <div class="col-md-3" style="background-color: #fff; height: 100%;">
            <h1 style="color: violet;">Category</h1>
            <h2>Amicable</h2>
            <h2>Blunt</h2>
            <h2>Harsh</h2>
            <h2>Passive Aggressive</h2>
            <h2>Poems</h2>
        </div>
        <div class="col-md-3" style="background-color: white; height: 100%;">
            <h1 style="color: violet;">Introduction</h1>
        </div>
        <div class="col-md-3" style="background-color: white; height: 100%;">
            <h1 style="color: violet;">Main Message</h1>
        </div>
        <div class="col-md-3" style="background-color: white; height: 100%;">
            <h1 style="color: violet;">Goodbye</h1>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12" style="background-color: #F52887; height: 100px;">
			<h3 style="color: violet;">Message</h3>
		</div>
    </div>
</div>