input, label {
	margin: auto;
	float: none;
	display:inline-block;
	/* width: auto; */
	padding: 4px;
	font-size: 25px;
}
h2 {
	color: #d60000;
	text-align: center;
	font-size: 38px;
}
h3{
	color: #1c1c1c;
}

.constructedTitle {
	width: 100%;
	height: auto;
}

.panel-default{
	border: 2px solid #1c1c1c;
	border-radius: 8px;
	border: transparent;
	border-radius:  0px 8px 0px 8px;
	background: transparent
}

/* title */
.panel-default>.panel-heading.a{
	background-color: #e8e8e8;
	/* border-radius: 8px; */
}
.panel-default>.panel-heading>input.constructedTitle {
	background-color: #FCFCFC;
	/* border-radius: 8px; */
	border: 1px solid #e8e8e8;
	outline-color: #b00505;
	margin: 1px;
}

/* other stuff */
.panel-default>.panel-heading{
	background-color: #FCFCFC;
	/* border-radius: 8px; */
}
.panel-default>.panel-body {
	background-color: #e8e8e8;
	/* border-radius: 8px; */
}
/* for printed message only */
.panel-default>.panel-heading>.panel-body {
	background-color: #fcfcfc;
	/* border-radius: 8px; */
}

/* category, etc, buttons: radio/checkbox */
button.btn.btn-primary{
	vertical-align: middle;
}
input[type=radio], input[type=checkbox] {
	display:none;
	overflow-y: auto;
}
input[type=radio] + label, input[type=checkbox] + label {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
	color: #f5f5f5;
	text-align: center;
	border-radius: 8px;
  	/*box-shadow: 0 9px #999;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle; */
	cursor: pointer;
	/* background-color: white; */
	background-color: #811025;
	/* background-image: -webkit-gradient(linear,0 0,0 100%,from(#7a0003),to(#d60000));
	background-image: -webkit-linear-gradient(top,#7a0003,#d60000);
	background-image: -o-linear-gradient(top,#7a0003,#d60000);
	background-image: linear-gradient(to bottom,#7a0003,#d60000);  */
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	overflow-y: auto;
	display: block;
}
input[type=radio] + label:hover, input[type=checkbox] + label:hover{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color: #630007;
	overflow-y: auto;
	display: block;
}
/*input[type=radio]:checked + label.highlight, input[type=checkbox]:checked + label.highlight{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#b00505;
	 overflow-y: auto;
	display: block;
} */
.highlight{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#b00505 !important;
	 overflow-y: auto;
	display: block;
}

/* buttons */
.btn {
	background-color: #811025;
	border: transparent;
	font-size: 20px;
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
	overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
	white-space: normal;
}
.btn:hover {
	background-color: #630007;
}
.btn:focus {
	background-color: #b00505;
	outline-color: transparent;
}
@media all and (max-width:480px) {
	.btn-group {
		width: 100%;
		display:block;
	}
}
/* #saveCancel {
	min-width:20%;
    max-width:20%;
	margin:0% 39% 0% 40%;
} */
#outer {
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block;
}
.circle {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: inline-block;
    border-radius: 25px;
  }
.poo{
  background-image: url("../../assets/poo.png");
  height: 50px;
  width: 50px;
background-size: cover;
border-radius: 25px;
background-color: white;
  }
.flower{
  background-image: url('../../assets/poems.png');
  height: 50px;
  width: 50px;
background-size: cover;
border-radius: 25px;
background-color: white;
}
.happy{
	height: 50px;
	width: 50px;
  background-image: url('../../assets/amicable.png');
  background-size: cover;
  border-radius: 25px;
  background-color: white;
}
.ninja{
	background-image: url('../../assets/haiku.png');
	height: 50px;
	width: 50px;
  background-size: cover;
  border-radius: 25px;
  background-color: white;
}
.angry{
	background-image: url('../../assets/harsh.png');
	height: 50px;
	width: 50px;
  background-size: cover;
  border-radius: 25px;
  background-color: white;
}
.random{
	background-image: url('../../assets/random.png');
	height: 50px;
	width: 50px;
  background-size: cover;
  border-radius: 50%;
  background-color: white;
}
