.card {
	border: .5px solid black;
	border-radius: 8px;
	background-color: white;
	margin: 0 auto;
	width: 75%;
	margin-bottom: 20px;
	border-radius: 10px;
}

h1{
	color: #f5f5f5;
	text-align: center;
	text-shadow: -.5px -.5px #1c1c1c, .5px -.5px #1c1c1c, -.5px .5px #1c1c1c, .5px .5px #1c1c1c;
	font-size: 50px
}
h3{
	color: #f5f5f5;
	text-align: center;
	text-shadow: -.5px -.5px #1c1c1c, .5px -.5px #1c1c1c, -.5px .5px #1c1c1c, .5px .5px #1c1c1c;
	font-size: 30px
}
h2, a {
	color: #1c1c1c;
}
p, a{
	font-size: 20px;
	color: #1c1c1c;
}
li {
	list-style-type:none
}

button.btn.btn-primary, button.btn.btn-success, button.btn.btn-danger {
	display: block;
	background-color: #811025;
	border: transparent;
	font-size: 23px;
}
button.btn.btn-primary:hover, button.btn.btn-success:hover, button.btn.btn-danger:hover{
	background-color: #630007;
}
button.btn.btn-primary:focus, button.btn.btn-success:focus, button.btn.btn-danger:focus{
	background-color: #b00505;
	outline: none;
}

#msgttl {
	background-color: #811025;
	color: #FCFCFC;
	border: transparent;
	border-radius: 8px;
	font-size: 23px;
}
#msgttl:hover {
	background-color: #630007;
	color: #FCFCFC;
}
#msgttl:active {
	background-color: #b00505;
	color: #FCFCFC;
}

#toolbar {
    width: 100%;
    max-width: 700px;
    margin: 10px;
    /* border: 1px solid black; */
	padding: 10px;
	display:block; 
	margin:0 auto;
}
/* 
#toolbar .wrapper {
} */