h1{
	color: #f5f5f5;
	text-align: center;
	text-shadow: -.5px -.5px #1c1c1c, .5px -.5px #1c1c1c, -.5px .5px #1c1c1c, .5px .5px #1c1c1c;
	font-size: 50px
}
h3{
	color: #f5f5f5;
	text-align: center;
	text-shadow: -.5px -.5px #1c1c1c, .5px -.5px #1c1c1c, -.5px .5px #1c1c1c, .5px .5px #1c1c1c;
	font-size: 30px
}
h2, a {
	color: #1c1c1c;
}
p, a{
	font-size: 20px;
	color: #1c1c1c;
}
/* li {
	list-style-type:none;
} */


/* messages box */
.container {
	border: .5px solid black;
	border-radius: 8px;
	background-color: white;
	margin: 0 auto;
	width: 90%;
	height: auto;
	margin-bottom: 20px;
}


/* 3 buttons */
button.btn.btn-primary, button.btn.btn-success, button.btn.btn-danger {
	background: transparent; 
	border: none;
}
.glyphicon {
	margin-bottom:1px;
	display:block;
	color: #811025;
	border: transparent;
	font-size: 19px;
	border-radius: 8px;
	/* float: right !important;
	clear: both; */
	/* padding: -2px; */
}
.glyphicon:hover{
	color: #630007;
}
.glyphicon:active{
	color: #b00505;
	outline: none;
}
.col-sm-2, .col-sm-10 {
	display: inline-block;
}
.vcenter {
	float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}
.col-sm-10 {
	/* display:block; */
	float: left;
}
#outer .inner {
	/* display:block; */
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (max-device-width: 480px) {
	.col-sm-10 {
		padding: 0px 2px 0px 0px;
	}
	#outer {
	width:100%;
	text-align: center;
  }
  .inner {
	display: inline-block;
  }
}


/* no messages button */
#msgttl {
	background-color: #811025;
	color: #FCFCFC;
	border: transparent;
	border-radius: 8px;
	font-size: 23px;
}
#msgttl:hover {
	background-color: #630007;
	color: #FCFCFC;
}
#msgttl:active {
	background-color: #b00505;
	color: #FCFCFC;
}

#toolbar {
    width: 100%;
    max-width: 700px;
    margin: 10px;
    /* border: 1px solid black; */
	padding: 10px;
	display:block; 
	margin:0 auto;
}
/* 
#toolbar .wrapper {
} */