.card {
	border: .5px solid black;
	background-color: white;
	margin: 0 auto;
	width: 75%;
	margin-bottom: 20px;
	border-radius: 10px;
}

h1{
	color: #f5f5f5;
	text-align: center;
}
h2, a {
	color: #1c1c1c;
	text-align: center;
}
a{
	font-size: 20px;
}
li {
	list-style-type:none
}

button.btn.btn-primary, button.btn.btn-success, button.btn.btn-danger {
	vertical-align: middle;
}