<h1> My Messages </h1>


<div *ngIf="!hasMessage">
	<h2>YOU HAVE NO MESSAGES</h2>
	<button href="create"> <a href="create"> Create some </a></button>
</div>
<div class="card" *ngFor="let message of filterMessages();let i=index">
	<div class="card-block">
		<ul>
			<li>
				<p>{{message.title}}</p>
				<p> {{message.text}}</p>

			</li>
		</ul>
	</div>
	<button (click)="goTo(i)"> Go To </button> 
	<button (click)="quickSend(i)"> Quick Send </button>
	<button (click)="delete(i)"> Delete </button>
</div>
<button (click)="testMessage()">Populate Field </button>