<br>
<br>
<br>
<h1 class="col-sm-10 col-sm-offset-1"><strong>Update "{{model.title}}" Message</strong></h1>
<div class="container">
  <div class="form col-xs-12">
      <br>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading"><textarea [(ngModel)]="model.title" name="title" style="text-align: center"></textarea></div>
        <br>
        <div class="panel-body"><textarea [(ngModel)]="model.message" name="message"></textarea></div>
      </div>
    <br>
  </div>
</div>
<div id="outer">
  <div class="inner">
    <a routerLink="/messages" role="button" class="btn btn-danger btn-lg" (click)="updateMessage()">Save</a>
  </div>
  <div class="inner">
    <a routerLink="/messages" role="button" class="btn btn-danger btn-lg">Cancel</a>
  </div>
</div>
<br>
<br>
