.panel-default{
	border: 2px solid #1c1c1c;
	border-radius: 8px;
	border: transparent;
	border-radius:  0px 8px 0px 8px;
	background: transparent
}
.panel-default>.panel-heading, .panel-default>.panel-body{
	background-color: #e8e8e8;
	border-radius: 8px;
}
.panel-heading textarea{
  font-size: 30px;
  width: 100%;
	height: auto;
  background-color: #FCFCFC;
  color: #1c1c1c;
  border: transparent;
  border-radius: 8px;
  font-weight: bold;
}
.panel-body textarea{
  font-size: 30px;
  min-width: 100%;
  max-width: 100%;
  height: 300px;
  background-color: #fcfcfc;
  color: #1c1c1c;
  border: transparent;
  border-radius: 8px;
}

/* buttons */
.btn{
	display: inline-block;
	background-color: #811025;
	border: transparent;
}
.btn:hover {
	background-color: #630007;
}
.btn:focus{
	background-color: #b00505;
}