/* You can add global styles to this file, and also import other style files */
 body{
	background: url('./assets/background.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive, sans-serif;
  font-size: 20px;
}

/*colors:  123, 105, 127 | 235, 160, 255 | 245, 290?, 255 | 115, 67, 137 | 196, 168, 204 */
