/* You can add global styles to this file, and also import other style files */
 body{
	background: url('./assets/rose/dead-roses4.jpg') no-repeat center center fixed;
  background-size: cover;
  /* font-family: 'Helvetica'; */
  font-family: 'Quicksand', sans-serif;
}
/* .navbar{
  background-color: #3B0002;
} */

/*colors:  123, 105, 127 | 235, 160, 255 | 245, 290?, 255 | 115, 67, 137 | 196, 168, 204 */
